In [1]:
#Isso é um comentário

In [1]:
#Primeiro comando em Python
print("Olá Edson!")

Olá Edson!

In [3]:
print(10)
print(7.5)

10
7.5

In [4]:
print(10+5)
print(7.5+7)

15
14.5

In [2]:
print("Olá")
print("Edson")

Olá
Edson

In [6]:
print("Olá")
print("Edson")

Olá
Edson

In [7]:
print("Olá /n Edson")

Olá /n Edson

In [8]:
print("Olá \n Edson")

Olá
 Edson

In [9]:
print("Gilberto" * 3)

GilbertoGilbertoGilberto

In [10]:
print("Bancon", end = '')
print(" é vida!")

Bancon é vida!

In [11]:
print("Olá deixa eu me apresentar: ")
print("Nome: Natan Macedo")
print("Idade: 22")
print("Função atual: Estágiario \nEndereço: Campinas/SP")
print("Natural: Passos/MG")

Olá deixa eu me apresentar:
Nome: Natan Macedo
Idade: 22
Função atual: Estágiario
Endereço: Campinas/SP
Natural: Passos/MG

In [12]:
print("*************************************************")
print("Olá deixa eu me apresentar: ")
print("Nome: Natan Macedo")
print("Idade: 22")
print("Função atual: Estágiario \nEndereço: Campinas/SP")
print("Natural: Passos/MG")
print("*************************************************")

*************************************************
Olá deixa eu me apresentar:
Nome: Natan Macedo
Idade: 22
Função atual: Estágiario
Endereço: Campinas/SP
Natural: Passos/MG
*************************************************

In [13]:
print("*************************************************")
print("Olá deixa eu me apresentar: \nNome: Natan Macedo \nIdade: 22 \nFunção atual: Estágiario \nEndereço: Campinas/SP \nNatural: Passos/MG")
print("*************************************************")

*************************************************
Olá deixa eu me apresentar:
Nome: Natan Macedo
Idade: 22
Função atual: Estágiario
Endereço: Campinas/SP
Natural: Passos/MG
*************************************************

In [14]:
a=10 , a+=10, print(a)

SyntaxError: invalid syntax (2771529254.py, line 1)

In [15]:
a=10
a+=10
print(a)

20

In [16]:
type(100)

int

In [17]:
type("Teste")

str

In [18]:
type(3.45)

float

In [24]:
#Primeiro exercício - Colocando tipo no input

#Primeiro caso (Sem int)
a = input("Insira o valor de A: ")
b = input("Insira o valor de B: ")
soma = (a + b)
print(soma)

#Segundo caso (Com int)
a = int(input("Insira o valor de A: "))
b = int(input("Insira o valor de B: "))
soma = (a + b)
print(soma)

Insira o valor de A: 5
Insira o valor de B: 5
55
Insira o valor de A: 5
Insira o valor de B: 5
10

In [26]:
#Calcule a área do tringulo usando input

print("Cálculo da área do triângulo: ")

b = int(input("Entre com o valor da base: "))#Valor da base
h = int(input("Entre com o valor da altura: "))#Valor da altura

area = ((b * h)/2)

print("")
print("A área do triângulo é: ", area, "m²")

Cálculo da área do triângulo:
Entre com o valor da base: 5
Entre com o valor da altura: 10

A área do triângulo é:  25.0 m²

In [1]:
#Exercício 2 - Código para achar raízes de uma equação do segundo grau

import math

a = int(input("Digite o x1: "))
b = int(input("Digite o x2: "))
c = int(input("Digite o x3: "))

delta = int(((b**2)-(4*a*c)))

x1 = (b*(-1)) + (delta**0.5)/(2*a)
x2 = (b) - (delta**0.5)/(2*a)

print("\nSua raízes x1 e x2 são: ", x1, " e ", x2)

Sua raízes x1 e x2 são:  -4.0  e  4.0